src/main/mule/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="triggerFlow" doc:id="e20985d7-b452-4d98-8593-71e55008c7ea" >
		<http:listener doc:name="Start Synchronization" doc:id="22c74407-ba35-407b-98f5-d97e810629af" config-ref="HTTP_Listener_config" path="/synccontacts">
			<http:response statusCode="200"/>
			<http:error-response statusCode="400"/>
		</http:listener>
		<flow-ref doc:name="call mainFlow" doc:id="e15523f0-9c6c-4a32-a25a-c32a82452c37" name="mainFlow" />
		
		<ee:transform doc:name="Build response" doc:id="2abddd58-c707-435a-a004-ec5ba9107429">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
 ---
 {
 	Message: "Batch Process initiated",
 	ID: payload.id,
 	RecordCount: payload.recordCount,
 	StartExecutionOn: payload.creationTime as DateTime
 }
 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
