src/main/app/sfdc2sfdc-contactsync.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd">
    <flow name="mainFlow" doc:name="mainFlow" doc:description="Here you should place the main business logic.">
        <flow-ref name="gatherDataFlow" doc:name="gatherDataFlow"/>
        <flow-ref name="insertDataFlow" doc:name="Flow Reference"/>
        <logger message="Amount of contacts #[flowVars['contactCount']]" level="INFO" doc:name="Logger"/>
        <set-payload value="Amount of contacts #[flowVars['contactCount']]" doc:name="Set Payload"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <sub-flow name="gatherDataFlow" doc:name="gatherDataFlow">
        <logger message="Gathering Contact's Data..." level="INFO" doc:name="Logger"/>
		<sfdc:query config-ref="SalesforceA" query="dsql:SELECT Description, Email, FirstName, LastName, MailingCity, MailingCountry, MobilePhone, Phone, Title, Department FROM Contact ORDER BY Email ASC LIMIT 2" doc:name="Salesforce" fetchSize="1000"/>
        <set-variable variableName="contactCount" value="#[payload.size()]" doc:name="contactCount"/>
	</sub-flow>
    <sub-flow name="insertDataFlow" doc:name="insertDataFlow">
        <logger message="Creating Contacts&#8230;" level="INFO" doc:name="Logger"/>
        <set-variable variableName="contactList" value="#[new java.util.ArrayList()]" doc:name="contactList"/>
        <foreach doc:name="For Each">
            <logger message="Creating Contact with email: #[payload['Email']]" level="INFO" doc:name="Logger"/>
            <expression-transformer expression="#[flowVars['contactList'].add(payload)]" doc:name="Expression"/>
        </foreach>
        <sfdc:create config-ref="SalesforceB" type="Contact" doc:name="Salesforce">
            <sfdc:objects ref="#[flowVars['contactList']]"/>
        </sfdc:create>
        <set-variable variableName="createResult" value="#[payload.get(0)]" doc:name="Variable"/>
    </sub-flow>
</mule>
